/*dasar*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

}


/*navbar*/

.navbar {
    background-color: #0f095c;
    height: 70px;
    padding: 0 40px;
}

.navbar nav {
    height: 100%;

    display: flex;
    align-items: center;
}

/* logo + semua isi navbar */
.logo {
    display: flex;
    align-items: center;
    gap: 25px;
    
    width: 100%;
}

.logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/*link home, jurusan, kontak*/
.logo a[href] {
    cursor: pointer;
}

/* supaya menu kanan */
.logo a[href="home.html"] {
    margin-left: auto;
}

.school-name {
    display: none;
}


/*home*/

/* HERO */
.hero {
    background-color: #dff3ff;
    width: 100%;
    height: 200%;
    position: relative;
    padding-bottom: 30px;
}


/*carousel*/

.slider {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
}

/* semua foto */
.slider > div {
    position: absolute;

    width: 100%;
    height: 90%;

    top: 0;
    left: 0;

    opacity: 0;

    transition: opacity 0.5s;
}

/* foto */
.slider img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}


/* foto pertama tampil */
.hero:has(#slide1:checked) .slide1 {
    opacity: 1;
}

/* foto kedua tampil */
.hero:has(#slide2:checked) .slide2 {
    opacity: 1;
}

/* foto ketiga tampil */
.hero:has(#slide3:checked) .slide3 {
    opacity: 1;
}


/* radio button disembunyikan */
.hero input[type="radio"] {
    display: none;
}


/*dot*/
.dots {
    position: absolute;

    bottom: 240px;
    left: 50%;

    transform: translateX(-50%);

    display: flex;

    gap: 10px;
}

.dots label {
    width: 12px;
    height: 12px;
    background-color: rgba(142, 158, 158, 0.511);
    border-radius: 80%;
    cursor: pointer;
}


/*welcome*/

.hero-content {
    text-align: center;
    margin-top: 30px;
}

.hero-content h1 {
    font-size: 24px;
    margin-top: -60px;
}

.hero-content h5 {
    font-size: 20px;
    margin: 10px;
}


/*profile video*/

.profile-video{
    background-color: white;
    text-align: center;
    padding: 40px 0;
}
.profile-video h2{
    margin-bottom: 25px;

}
.profile-video video{
    width: 70%;
    max-width: 900px;
}

/*info sekolah*/

.school-info {
    background-color: #252528;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    
    padding: 30px 10%;
}

.info-box {
    padding: 20px;
    border-radius: 40px;
    background-color: #eeeeee;
    text-align: justify;
}

.info-box h2{
    text-align: center;
}

.info-box img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


/*footer*/

.footer {
    background-color: #0f095c;
    color: white;

    margin-top: 40px;
}


/* isi footer */

.footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    gap: 40px;

    padding: 40px 10%;
}


/* judul */

.footer h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer h4 {
    margin-bottom: 15px;
    font-size: 17px;
}


/* paragraf */

.footer p {
    margin: 8px 0;
    line-height: 1.5;
}


/* social media */

.footer-social {
    display: flex;
    flex-direction: column;
}

.footer-social a {
    color: white;
    text-decoration: none;

    margin-bottom: 8px;
}

.footer-social a:hover {
    text-decoration: underline;
}


/* copyright */

.footer-bottom {
    border-top: 1px solid #e8bcbc;

    text-align: center;

    padding: 15px 10px;

    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}

/*jurusan*/

.major-section {
    padding: 30px 10%;
}

.major-section h2 {
    text-align: center;
}

.major-card {
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 20px;

    text-align: center;
}

.major-card li{
    margin: 15px 0;
    text-align: left;
}

.major-card a {
    color: black;
}


/*tabel*/

.student-section {
    background-color: #dff3ff;

    padding: 40px 10%;
}

.student-section h2 {
    text-align: center;
}

.table-container {
    margin-top: 30px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    border: 1px solid black;

    padding: 12px;

    text-align: center;
}

.total{
    font-weight: bold;
    background-color: #ffdada;
}

th {
    background-color: #ffdada;
}


/* kontak*/

.contact-section {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 50px;

    padding: 50px 10%;
}


/*form */
.contact-form {
    padding: 30px;
    border-radius: 20px;
    background-color: #eeeeee;
}

.contact-form h1 {
    margin-top: 0;
}

.contact-form label {
    display: block;

    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    background-color: #dff3ff;
    margin-bottom: 15px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    padding: 10px 25px;
    background-color: #ffdada;
    border-radius: 20px;
    cursor: pointer;
}


/*map*/

.map {
    width: 100%;
}

.map h2 {
    margin-top: 0;
}

.map iframe {
    width: 100% !important;
    height: 550px;
    border-radius: 20px;
    border: 0px;
}


/*kontak lengkap*/

.contact-detail {
    grid-column: 1 / 3;
    border-radius: 20px;
    background-color: #ffdada;

    padding: 30px;
}

.contact-detail img {
    vertical-align: middle;
}

.phone {
    display: inline-block;
    vertical-align: top;
}

.operational {
    display: inline-block;
    vertical-align: top;
}

/*responsive*/

@media (max-width: 768px) {

    .navbar {
        padding: 0 15px;
    }

    .logo {
        gap: 10px;
    }

    .logo a {
        font-size: 14px;
    }

    .advantage-card {
        grid-template-columns: 1fr 1fr;
    }

    .school-info {
        grid-template-columns: 1fr;
    }

    .major-container {
        grid-template-columns: 1fr;
    }

    .contact-section {
        grid-template-columns: 1fr;
    }

    .contact-detail {
        grid-column: 1;
    }

}